*{
    transition: all .1s ease-in;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body {
    background-color: #3B3F45;
    margin: 0;
    font-family: 'Trebuchet MS', Trebuchet, Arial, sans-serif;
}
header {
    padding: 5px;
    background-color: #4A4F56;
    border: 1px solid #474C52;
    color: #EB7E72;
    text-align: center;
    font-size: 18px;
}
.t { 
    font-size: 20px;
    margin-left:17%;
    border-collapse: collapse;
    border: 1px solid #333333;
    color: white;
    width: 65%;
    height: 85%;
    margin-top: 2%;
}
td {
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #7E7996;
}
tr {
    background-color: #88839E;
}
tr:nth-child(2n) {
    background-color: #7A7593;
}
footer {
    padding: 5px;
    border: 1px solid #333333;
    color: #EB7E72;
    background-color: #4A4F56;
    text-align: center;
    font-size: 20px;
    margin-top: 2%;
}
tr:hover {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}
.p {
    font-size: 18px;
}
.smalltext {
    font-size: 15px;
    color: rgb(199, 190, 190);
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-left: 5px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after {
    display: block;
}
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.container input:checked ~ .smalltext {
    text-decoration: line-through;
}
